.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav,
.nav-buttons {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
  height: 5rem;
  column-gap: 4.75rem;
}

.nav-logo {
  font-family: JamstreetGraffiti;
  font-size: 5rem;
  color: var(--white-color);
  text-shadow: 2px 2px 3px black;
  margin-top: 1.75rem;
  transition: color 0.3s;
}

.nav-logo:hover {
  color: hsl(198, 100%, 45%);
}

.nav-menu {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  column-gap: 2rem;
}

.nav-link,
.nav-toggler {
  color: var(--white-color);
}

.nav-link {
  font-size: 1.06rem;
  text-transform: capitalize;
  position: relative;
  transition: color 0.5s;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.55rem;
  width: 0px;
  height: 3px;
  background-color: var(--first-color);
  border-radius: 1rem;
  transition: width 0.5s;
}

.nav-buttons {
  column-gap: 2 rem;
}

.nav-toggler {
  font-size: 1.75rem;
  display: none;
}

/* Link activo */
.nav-link:hover {
  color: var(--first-color);
}

.nav-link:hover::before {
  width: 15px;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
