.home-data {
  padding-block: 9rem 4rem;
  max-width: 800px;
  text-align: center;
}

.slider-logo {
  font-family: JamstreetGraffiti;
  font-size: 3rem;
  color: var(--white-color);
  text-shadow: 2px 2px 3px black;
  padding-left: 15px;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.home-subtitle {
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
}

.home-title,
.home-description {
  color: var(--white-color);
}

.home-title {
  font-size: var(--big-font-size);
  margin-block: 1.25rem;
}

.home-title span {
  color: transparent;
  -webkit-text-stroke: 2px var(--white-color);
}

.home-description {
  font-size: var(--large-font-size);
  margin-bottom: 2.5rem;
}

.home-buttons {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.home-button {
  background-color: var(--second-color);
}

.home-button::before {
  background-color: var(--first-color);
}

/* Swiper */
.swiper-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--first-color);
  font-size: var(--h3-font-size);
  display: grid;
  place-items: center;
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
}

.next-btn {
  right: 2rem;
}

.prev-btn {
  left: 2rem;
}

.swiper-btn:hover {
  color: var(--second-color);
  font-size: 2rem;
  transition: 0.3s;
}
