.features-container {
  grid-template-columns: repeat(4, 1fr);
}

.features-item {
  background-color: var(--container-color);
  padding: 1.25rem;
  border-radius: 6rem 0 6rem 0;
  position: relative;
}

.features-item::before {
  content: "";
  position: absolute;
  inset: auto 3rem 0;
  border-bottom: 3px solid var(--first-color);
  border-radius: 1rem;
  transition: 0.15s;
}

.features-icon {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: var(--first-color);
  border: 8px solid var(--body-color);
  border-radius: 50%;
  left: 0;
  top: -2rem;
  display: grid;
  place-items: center;
}

.features-img {
  width: 45px;
  filter: brightness(0) invert(1);
}

.features-no {
  text-align: right;
  color: transparent;
  -webkit-text-stroke: 2px var(--first-color);
  font-size: var(--h2-font-size);
  line-height: 0.8;
}

.features-title {
  font-size: var(--larger-font-size);
  margin-block: 0.75rem;
}
